<div class="container">

<div class="row">
	<h2>FAQ</h2>
</div>

<div class="row">
	<p>Staat jouw vraag er niet bij? Mail hem naar info@musc.fit!</p>
</div>

<div class="row">
	<strong>Hoeveel knaken krijg ik eigenlijk?</strong>
	<p>Ongeveer 80% bro!</p>
</div>

<div class="row">
	<strong>Wat gebeurt er als ik veel klachten krijg?</strong>
	<p>Dan komen we je halen!</p>
</div>

</div>