<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Training every body</h1>
            <hr>
            <p>Zoek jouw bootcamp of geef jouw bootcamp. Bootcamp voor iedereen.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Begin vandaag</a>
        </div>
    </div>
</header>

