<p>Welkom <%= @email %>!</p>

<p>Top dat je gebruik gaat maken van Musc. Klik op onderstaande link om je e-mailadres te bevestigen. Succes met je eerste training!</p>

<p><%= link_to 'Bevestig e-mailadres', confirmation_url(@resource, confirmation_token: @token) %></p>
